<launch>
  
  <arg name="base_path" value="/home/josh/efim/ros" />

  <include file="$(arg base_path)/launch/minimal.launch">
    <arg name="base_path" value="$(arg base_path)"/>
  </include>

  <!-- Start Kinect -->
  <include file="$(find freenect_launch)/launch/freenect.launch">"
    <arg name="camera" value="camera"/>
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- Start Laser LIDAR -->
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node"/>

</launch>
