<launch>
  
  <arg name="base_path" value="/home/josh/efim/ros" />

  <include file="$(arg base_path)/launch/minimal.launch">
    <arg name="base_path" value="$(arg base_path)"/>
  </include>

  <!-- Start Kinect -->
  <include file="$(find freenect_launch)/launch/freenect.launch">"
    <arg name="camera" value="camera"/>
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- Start Laser LIDAR -->
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node">
    <param name="port" value="/dev/ttyACM1"/>
  </node>

  <!-- Start Serial to Arduino Connectio to drive motors -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <remap from="cmd_vel" to="pocketbot/cmd_vel"/>
  </node>

</launch>
