<launch>
  
  <arg name="base_path" value="/home/josh/efim/ros" />

  <include file="$(arg base_path)/launch/minimal.launch">
    <arg name="base_path" value="$(arg base_path)"/>
  </include>

  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model efim -x 0 -y 0"/>

</launch>
