<launch>
  <arg name="base_path" default="/home/josh/efim/ros" />

  <!-- Load URDF file -->
  <param name="robot_description" textfile="$(arg base_path)/urdf/efim.urdf.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Move base handles navigation -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!--<remap from="/map" to="/rtabmap/proj_map"/>-->
    <remap from="/odom" to="/scanmatch_odom"/>
    <remap from="/cmd_vel" to="/pocketbot/cmd_vel"/>
    <rosparam file="$(arg base_path)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(arg base_path)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(arg base_path)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(arg base_path)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(arg base_path)/param/base_local_planner_params.yaml" command="load"/>
  </node>

  <!-- Odometry from laser scans -->
  <!-- We use Hector mapping to generate odometry for us -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    
    <!-- Frame names -->
    <!--<param name="map_frame" value="hector_map" />
    <param name="odom" value="odom" />-->
    <param name="map_frame" value="map" />
    <param name="base_link" value="base_link" />
    
    <!-- Tf use -->
    <param name="pub_map_odom_transform" value="false"/>
    <param name="pub_map_scanmatch_transform" value="true"/>
    <param name="pub_odometry" value="true"/>
    
    <!-- Map size / start point -->
    <param name="map_resolution" value="0.050"/>
    <param name="map_size" value="2048"/>
    <param name="map_multi_res_levels" value="2" />
    
    <!-- Map update parameters -->
    <param name="map_update_angle_thresh" value="0.06" />
    
    <!-- Advertising config --> 
    <param name="scan_topic" value="/scan"/>

    <param name="laser_min_dist" value="0.4"/>
    <param name="laser_max_dist" value="30.0"/> 
    <param name="laser_z_min_value" value="-1.0"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="odom_to_base"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /scanmatcher_frame /scanmatch_odom 10"/>
  <node pkg="tf" type="static_transform_publisher" name="scanmatcher_to_base"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /scanmatch_odom /base_link 10"/>

  <!-- Start Mapping Server -->
  <!--<node name="map_server" pkg="map_server" type="map_server" args="/home/josh/efim/ros_ws/src/efim/map.yaml"/>-->
  <!--<node name="gmapping" pkg="gmapping" type="slam_gmapping"/>-->
  <!--<include file="$(arg base_path)/launch/rtabmap.launch"/>-->

    <!-- ACML handles localiztion for static maps -->
  <!--<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <param name="odom_model_type" value="diff"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="use_map_topic" value="true"/>
</node>-->
  <!--<node pkg="amcl" type="amcl" name="amcl"/>-->

  <!--<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
    <param name="scan_height" value="10"/>
    <param name="range_min" value="0.45"/>
    <remap from="image" to="/camera/depth/image_raw"/>
  </node>-->

  <!-- Start RVIZ for visualization -->
  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
