<launch>
  <param name="robot_description" textfile="/home/josh/efim/ros_ws/src/efim/efim.urdf" />
<!--<param name="robot_description" textfile="/home/josh/Downloads/urdf_tutorial/urdf/07-physics.urdf" />-->
  <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model efim"/>
</launch>
